@import '../../styles/variables';

.campaign-card {
  border: 1px solid $themeSky;
}
.campaign-card-title {
  color: $themeWhite;
}

.campaign-card-button {
  min-width: 175px;
}

.campaign-card-body {
  background-color: $themeBlack;
}

.campaign-card-text {
  color: $themeGold !important;
}

.campaign-card-invite {
  color: $themeSky !important;
  font-weight: bold !important;
}

.campaign-invite-prefix {
  color: $themeWhite;
  font-weight: normal;
}
