@import '../../styles/variables';

.DMScreenPlayerCard {
  color: $themeWhite;
  margin: 10px 10px;
  // width: 20%;
}

.dmscreen-player-card {
  width: 12rem;
  background-color: $themePrussian;
  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 197px;
  }
}

.card-img-overlay {
  background: linear-gradient(rgba(29, 39, 49, 0.75), rgba(29, 39, 49, 0.75));
  padding: 0;
}

.dmscreen-player-card-body {
  text-shadow: 1px 2px black;
}

.dmscreen-player-card-divider {
  border-top: 1px solid $themeSky;
}

.dmscreen-player-card-title {
  text-align: center;
}

.dmscreen-player-card-stat {
  display: block;
  text-align: center;
}

.dmscreen-player-card-stat div {
  color: $themeGold;
}
