@import '../../styles/variables';

.PlayerCharacter {
  margin-top: 56px;
}

.character-cards-main-container {
  padding-top: 25px;
}

.character-card-col {
  overflow: auto;
  overflow-y: auto;
  height: 85vh;
  scrollbar-width: none;
}

.character-card-col::-webkit-scrollbar {
  width: 0 !important;
}
