@import '../../styles/variables';

.DMScreenInitToken {
  background-color: $themeBlack;
  border: 1px solid $themeGold;
  width: 75px;
  height: 75px;
  margin: 5px;
  text-align: center;
  border-radius: 15%;
  box-shadow: 2px 2px 5px 2px $themeGold//#b5b5b5;
}

.token {
  // display: flex;
  // flex-wrap: wrap;
  h6 {
    color: $themeWhite;
  }

  p {
    display: block;
    font-weight: bold;
  }
}

.token.btn {
  white-space: normal;
}
